html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 5em;
  border: 2px dashed #000;
}
